<div class = "datos_firmante">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{firma_solicitante_link}}" alt="Imagen 1">
                <div class="card-body">
                    <p class="card-text">FIRMA SOLICITANTE</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{huella_solicitante_link}}" alt="Imagen 2">
                <div class="card-body">
                    <p class="card-text">HUELLA SOLICITANTE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{firma_personal_link}}" alt="Imagen 3">
                <div class="card-body">
                    <p class="card-text">FIRMA CONTRATISTA</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{huella_personal_link}}" alt="Imagen 4">
                <div class="card-body">
                    <p class="card-text">HUELLA CONTRATISTA</p>
                </div>
            </div>
        </div>
    </div>
</div>